body {
    font-family: 'Open Sans', 'Verdana', sans-serif;
}

.container {
    border: 1px solid black;
}
.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    border: 1px solid black;
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-size: 16px;
    border-radius: 0.3em;
    padding: 0.3em;
    width: 100px;
}
.password-letter-span {
    display: inline-block;
    width: 10px;
    margin: 0px 5px;
    border-bottom: 1px solid black;
}
::-webkit-input-placeholder {
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-size: 16px;
}
.warning::-webkit-input-placeholder {
    color: red;
}
.info::-webkit-input-placeholder {
    color: blue;
}
input {
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-size: 16px;
}