body {
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-size: 18px;
}
button, .info-container{
    border: 3px solid rgb(141, 93, 12);
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.2em;
    border-radius: 0.3em;
    padding: 0.3em 0.6em;
    min-width: 40%;
    margin: 10px;
    background-color: rgb(243, 195, 114);
    color: rgb(141, 93, 12);
}
button {
    cursor: pointer;
}
.info-container {
    display: none;
}
input {
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    width: 90%;
}
p {
    margin-left: 20px;
}
.container {
    border: 5px solid rgb(141, 93, 12);
    border-radius: 5px;
}
.top-container, .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container {
    flex-direction: column;
}
.password-letter-span {
    display: inline-block;
    width: 16px;
    margin: 0px 5px;
    border-bottom: 1px solid black;
    text-align: center;
}
::-webkit-input-placeholder {
    font-family: 'Open Sans', 'Verdana', sans-serif;
    font-size: 18px;
}
.warning::-webkit-input-placeholder {
    color: red;
}
.info::-webkit-input-placeholder {
    color: blue;
}
