.container {
    border: 1px solid black;
}
.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    border: 1px solid black
}
span {

}
.password-letter-span {
    display: inline-block;
    width: 10px;
    margin: 0px 5px;
    border-bottom: 1px solid black;
}
.warning::-webkit-input-placeholder {
    color: red
}